<%- include ('template/header') %>
<div class="container">
  <form id="add_user_record">
    <div class="form-group">
      <label for="first_name">First Name:</label>
      <input type="text" class="form-control" id="first_name" placeholder="Enter email" name="first_name">
    </div>
    <div class="form-group">
      <label for="last_name">Last Name:</label>
      <input type="text" class="form-control" id="lS=ast_name" placeholder="Enter password" name="last_name">
    </div>
    <div class="form-group">
      <label for="salary">Salary:</label>
      <input type="text" class="form-control" id="salary" placeholder="Enter password" name="salary">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
<%- include ('template/footer') %>
